.toggl-offcanva {
    background-color: aqua;
    color: white;
    border: none;
    justify-items: center;
}

.offcanva-btn-container {
    display: flex;
    justify-content: center;
}

.offcanva {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    padding: 1rem 3rem 1rem 3rem;
}

.offcanva.active{
    display: flex;
    flex-direction: column;
    animation: blured 2s, slide-in 1s;
}

.offcanva ul{
    list-style: none;
    align-items: center;
    padding-inline-start: 0;
}

.offcanva li a {
    text-decoration: none;
    color: #4d636f;
}

@keyframes blured {
    from {
        filter: blur(5px);
    }
    to {
        filter: blur(0);
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
    }
}